@model SysSeguridadG05.EN.Rol

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Rol</h1>

<h3>Esta seguro que desea eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" class="form-control" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-dark">Regresar</a>
    </form>
</div>
