@model SysSeguridadG05.EN.Usuario

@{
    ViewData["Title"] = "CambiarPassword";
}

<h1>CambiarPassword</h1>

<h4>Usuario</h4>
<hr />

    <form asp-action="CambiarPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <input type="hidden" asp-for="Id" class="form-control" />
         <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" readonly />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Password Anterior</label>
                    <input type="text" name="pPasswordAnt" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Nuevo Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ConfirmPassword_aux" class="control-label"></label>
                    <input asp-for="ConfirmPassword_aux" class="form-control" />
                    <span asp-validation-for="ConfirmPassword_aux" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-dark">Cancelar</a>
                </div>
            </div>
            <span class="text-danger">@ViewBag.Error</span>
        </div>
    </form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("form input[name]").trigger("blur");
        });
    </script>
}
